.hclose.button {
    -fx-background-color: transparent;
    -fx-font-size:0.0001px;
}

.mainlist .list-cell:filled:selected:focused,.list-cell:filled:selected {
    -fx-background-color: #E6E6E6;
    -fx-text-fill: black !important;
}
.mainlist .list-cell { -fx-text-fill: black;}
.mainlist .list-cell:odd { -fx-background-color: White;}
.mainlist .list-cell:even { -fx-background-color: White;}
.mainlist .list-cell:filled:hover {
    -fx-background-color: WhiteSmoke;
}

.codelist .list-cell:filled:selected:focused,.list-cell:filled:selected {
    -fx-background-color: #7697f6;
    -fx-text-fill: black !important;
}
.codelist .list-cell { -fx-text-fill: black;}
.codelist .list-cell:odd { -fx-background-color: White;}
.codelist .list-cell:even { -fx-background-color: White;}
.codelist .list-cell:filled:hover {
    -fx-background-color: WhiteSmoke;
}

.list-view .scroll-bar:vertical,
.list-view .scroll-bar:horizontal{
    -fx-pref-width: 0;
}

.button-help {
    -fx-background-color: white;
    -fx-border-color: lightgray;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
}

.titled-pane > .title {
    -fx-background-color: transparent;
}

.titled-pane > .title > .arrow-button .arrow {
    -fx-focus-color:transparent;
}

.titled-pane > *.content {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.button-cancel {
    -fx-background-color: white;
    -fx-border-color: lightgray;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
}

.button-finish {
    -fx-background-color: royalblue;
    -fx-border-color: royalblue;
    -fx-text-fill:white;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
}

.button-foc:focused{
    -fx-border-width: 3px;
    -fx-border-width: 3px;-fx-border-color: #577cee;
}

.text-area{
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

.text-area .content {
    -fx-padding: 0;
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area .scroll-bar:vertical {
    -fx-pref-width: 1;
    -fx-opacity: 0;
}
.text-area .scroll-bar:horizontal {
    -fx-pref-height: 1;
    -fx-opacity: 0;
}

.custom-menu-button {
    -fx-background-color: blue;
    -fx-text-fill: white;
    -fx-border: none;
}

.custom-menu-button:hover {
    -fx-background-color: lightblue;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}

.toolBt {
    -fx-padding: 0;
    -fx-font-size: 0.001px;
    -fx-background-radius: 3px;
    -fx-background-color: transparent;
}

.toolBt2 {
    -fx-padding: 0;
    -fx-font-size: 0.001px;
    -fx-background-radius: 3px;
    -fx-background-color: transparent;
}

.toolBt:hover {
    -fx-background-color: #dddddd;
}

.code{
    -fx-text-fill: red;
    -fx-background-color: red;
    -fx-padding: 30;
}

.table-view{
    -fx-font-size: 14;
    -fx-border-width: 1 0 1 0;
    -fx-border-color: lightgray;
    -fx-background-color: transparent;
}

.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.table-view *.scroll-bar:vertical *.increment-button,
.table-view *.scroll-bar:vertical *.decrement-button {
    -fx-pref-width: 16;
    -fx-background-color: null;
    -fx-background-radius: 5px;
    -fx-background-insets: 0;
    -fx-padding: 6;
}

.table-view *.scroll-bar:vertical *.increment-arrow,
.table-view *.scroll-bar:vertical *.decrement-arrow {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
    -fx-pref-height: 0;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}